// some predefined vars:
$lime: #88D5C9;
$peach: #FF9679;
$primary-green: #09d3ac;
$header-bg: #282c34;
$fail-color: #e74444;
$border: 1px solid #d4dcec;

$font-size: 16px;
$primary-font-size: calc(10px + 2vmin);


